.activity-icon {
  width: 15px;
  height: 15px;
  filter:invert(100%);
  opacity: 0.5;
}

.activity-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 10px;
}

.activity-text {
  color: rgba(255,255,255,0.5);
}

.avatar-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: aliceblue;
}

.activity-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 10px;
}

.activity-name {
color: rgba(255,255,255,0.5);
margin-left: 15px;
}

.activity-icon:hover {
  opacity: 1;
}
